body {
  font-family: Arial, sans-serif;
  background-color: #d3f8e2;
  margin: 0;
  padding: 0;
}
.pokemon-logo {
  display: block;
  margin: 0 auto;
  height: 75px;
  width: 260px;
  padding: 10px;
}

header {
  background-color: #d3f8e2;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 18%;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.card h3 {
  text-transform: capitalize;
}

.card:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  overflow: auto;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
}

#modalTitle {
  text-transform: capitalize;
}

#modalImage {
  width: 200px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Text color */
  cursor: pointer;
}
